<div class="card">
  <div class="card-body">
    <div class="card-text">

      <component-form-dest-list
        v-bind:form="form"
        ></component-form-dest-list>
      <component-form-attachment
        v-bind:form="form"
        ></component-form-attachment>

      <hr>

      <component-form-attachment-mutual
        v-bind:form="form"
        ></component-form-attachment-mutual>
    </div>
  </div>
</div>
