<div class="card">
  <div class="card-body">
    <div class="card-text">

      <p class="mb-1"><small>
        送信の基本情報をアップロードします。
        <br>『宛先情報リスト』は必須となります。
        添付ファイルを使用しない場合は、『個別添付がない時は送信しない』のチェックを外してください。
      </small></p>

      <component-form-dest-list
        v-bind:form="form"
        ></component-form-dest-list>
      <component-form-attachment
        v-bind:form="form"
        ></component-form-attachment>

      <hr>

      <component-form-attachment-mutual
        v-bind:form="form"
        ></component-form-attachment-mutual>
    </div>
  </div>
</div>
